div#NavBar {
    background: black;
    padding: 30px;
    margin: 0px;
    width: 100%;
    position: fixed;
    display: block;
}

a.homeMenuLink {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 15px;
}

a.submenuLink {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding: 15px;
}

a.pictureLink {
    text-decoration: none;
    padding: 15px;
}

a.textLink {
    color: white;
    font-family: Helvetica, sans-serif;
}

a:hover {
    color: rgb(97, 187, 187);
}

a:active{
    color: rgb(247, 247, 149);
}

a:visited {
    text-decoration: none;
}

body {
    margin: 0%;
}

div.TextSection {
    background: darkslategray;

    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-align: center;

    width: 100%;
    padding-top: 150px;
    padding-bottom: 120px;
}

div#ProjectGrid {
    background:white;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

a.PictureTextElement {
    background: rgb(24, 44, 44);

    text-decoration: none;

    display: block;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a.PictureTextElement:hover {
    background:rgb(66, 130, 130);
}

div.PictureTextElement_Text {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    text-decoration: none;
    text-align: center;

    position: absolute;
    padding: 128px;

    display: inline;
}

div.PictureTextElement_Image {
    display: inline;
}

div#Footer {
    background: black;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    width: 100%;
    display: block;
}