/*========================GLOBAL STYLE VARIABLES========================*/

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono');
@import url('https://fonts.googleapis.com/css2?family=Mulish');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --dark: #1A202B;
    --light: #EAE8EE;
    
    --accent3: #F4B942;
    --accent2: #FADF63;
    --accent1: #4EC9B0;

    --bodyFontFamily: 'Mulish';
    --bodyFontWeight: 100;

    --headerFontFamily: 'Overpass Mono'; 
    --headerFontWeight: 500;

}

html {
    /* change default font size from 16px to 10px */
    font-size: 62.5%;
}

/*================================BODY================================*/

body {
    margin: unset;
    background-color: var(--dark);
}

/*============================NAV BAR VARIABLES========================*/

/* The nav bar */
.navBar {
    width: 100vw;
    position: fixed;
    z-index: 10;
    padding-top: 1em;
    padding-bottom: 1em;

    background-color: none;

    color: var(--light);
    font-size: 1.8rem;
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
}

.navBar ul {
    margin: unset;
    padding: unset;
    display: flex;
    justify-content: flex-end;

    list-style: none; /*Gets rid of the bullet points */
}
.navBar li {
    padding-left: 2.8em; /*1em is one line height */
    padding-right: 2.8em;
}
/* The logo should float left, the rest of the links are on the right of nav bar */
.navBar li.logo {
    margin-right: auto;
}

.navBar a {
    color: inherit;
    text-decoration: none; /*Gets rid of the underline */
}
/* The nav bar links on hover */
.navBar a:hover {
    color: var(--accent1);
}
/* The active nav bar link (being pressed) */
.navBar a:active {
    color: var(--accent2);
}
/* The current link */
.navBar a.current {
    color: var(--accent1);
}
.navBar a.current:active {
    color: var(--accent2);
}

.navBar .navBarToggle {
    display: flex;
}
/* The hamburger button */
.navBar .navBarMenuButton {
    position: absolute;
    top: 1em;
    right: 2.8em;

    display: none;

    border: unset;
    background: unset;

    cursor: pointer;
}
.navBar .navBarMenuButton svg {
    stroke: var(--light);
}
.navBar .navBarMenuButton .menuIconClose {
    display: none;
}

.hasShadow {
    box-shadow: rgba(18, 20, 22, 0.669) 0px 2px 7px 0px;
}
.isOpaque {
    background-color: var(--dark);
}

/* Detect when screen size is at a smaller width (for resized windows and mobile */
@media only screen and (max-width: 760px) {
    /* if screen is small, show button, hide links */
    .navBar .navBarMenuButton {
        display: block;
    }
    .navBar .navBarToggle {
        display: none;
    }

    /* if screen is small AND nav bar is opened, display vertical links */
    .navBar.open {
        background-color: var(--dark);
    }
    .navBar.open ul {
        display: block
    }
    .navBar.open .navBarToggle {
        display: block;
    }
    .navBar.open a {
        display: block;
    }
    /* hide the hamburger icon */
    .navBar.open .navBarMenuButton .menuIconOpen {
        display: none;
    }
    /* show the close icon */
    .navBar.open .navBarMenuButton .menuIconClose {
        display: block;
    }
}

/*============================FOOTER VARIABLES========================*/

/* The footer */
footer {
    overflow: hidden;
    height: 10vh;
    padding-top: 1.5em;
    padding-right: 1em;

    background-color: var(--dark);
}

footer p {
    float: left;
    padding: 1em 2em;  /* top, right, bottom, left */

    color: var(--light);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
}

/* The links inside the footer */
footer a {
    float: right;
    padding: 0.5em 0.5em;  /* top, right, bottom, left */

    color: var(--light);
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
}

/* The links inside the footer */
footer a:hover {
    color: var(--accent1);
}

/* The iconButton links on hover */
footer a:hover > div.iconButton {
    background-color: var(--accent1);
}

/* The active footer link (being pressed) */
footer a:active {
    color: var(--accent2);
}

/* The iconButton links active (being pressed) */
footer a:active  > div.iconButton {
    color: var(--accent2);
}

/* The circle div that surrounds the icon img */
.iconButton {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    background-color: var(--light);
}
.iconButtonLarge {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 2rem;

    background-color: var(--light);
}

/* The icon img inside the iconButton divs */
.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.7rem;
    height: 75%;
}

/*=================================TO TOP BUTTON==============================*/

.toTopButton {
    position: fixed;
    z-index: 9;
    bottom: 8vh;
    right: 4vw;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;

    cursor: pointer;

    border: 0.1rem solid var(--accent1);
    border-radius: 50%;
    background-color: var(--dark);
}
.toTopButton svg {
    width: 70%;
    height: 70%;
    fill: var(--accent1);
}
.toTopButton:hover {
    background-color: var(--accent1);
}
.toTopButton:hover svg {
    fill: var(--dark);
}
.toTopButton:active {
    border: none;
    background-color: var(--accent2);
}
.toTopButton.invisible {
    display: none;
}

/*=================================SCROLLBAR VARIABLES========================*/

::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-button {
    display: none;
}
  
::-webkit-scrollbar-track {
    background: var(--dark);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    border: 0.1rem solid var(--accent1);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--accent1);
}
::-webkit-scrollbar-thumb:active {
    border: none;
    background: var(--accent2);
}

/*============================TEXT LINK========================*/

.textLink {
    color: var(--accent2);
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
    font-size: 1.8rem;
    text-decoration: none;
}
.textLink:hover {
    color: var(--accent1);
}
.textLink:active {
    color: var(--accent2);
}

/*===========================MAIN BODY VARIABLES======================*/

/* Padding on top for nav bar, set minimum height to be window height */
#minArea {
    min-height: 90vh;
    background-color: var(--dark);
}
.padding {
    height: 6rem;
}

/*===========================LANDING BANNER======================*/

/* The banner on the home page */
#banner {
    height: 70vh;
    padding: 40vh 5vw;  /* top, right, bottom, left */
    background-color: var(--dark);
    /*background-image: url("../assets/Banner_1.png");*/
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
/* Text for the banner */
.bannerText.centered {
    text-align: center;
    margin: auto;
    padding: 2em;

    color: var(--light);
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);

    /* border: 0.1em solid var(--accent1);
    border-radius: 1rem;
    background-color: var(--dark); */
}
.bannerText h1 {
    font-size: 6rem;
}
.bannerText h2 {
    font-size: 2rem;
}

/*===========================VIDEO SECTION VARIABLES===========================*/

.videoBanner {
    text-align: center;
    background-color: black;

    min-height: 50vh;
    max-height: 90vh;
}

/*===========================SECTION VARIABLES===========================*/

.section {
    padding: 10vh 10vw;
    background-color: var(--dark);
    display: flex;
    flex-wrap: wrap;
}
.section.black {
    background-color: black;
}

/* Text in the small sections */
.sectionText {
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--light);
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
    flex: 100%;
}
.sectionText.half {
    flex: 50%;
    min-width: 380px;
}
.sectionText.third {
    flex: 33%;
    min-width: 360px;
}
.sectionText h1 {
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
    font-size: 2.4rem;

    padding-top: 4rem;
    padding-bottom: 4rem
}
.sectionText h2 {
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
    font-size: 2em;

    padding-top: 2rem;
    padding-bottom: 2rem
}
.sectionText h3 {
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
    font-size: 1.6em;
    color: var(--accent2);

    padding-top: 1rem;
    padding-bottom: 1rem
}
.sectionText p {
    font-size: 1.8rem;

    padding: 18px 0px 18px 0px;
}
.sectionText ul {
    font-size: 18px;
}
.sectionText.centered {
    text-align: center;
    margin: auto;
    padding: 50px;
}

/*=========================INLINE IMAGES VARIABLES=====================*/

.inlineImages {
    flex: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1rem;
    align-content: start;
}

/*=========================RESPONSIVE SECTION VARIABLES=====================*/

/* .columnTwoThirds {
    flex: 67%;
    max-width: 67%;
    padding: 0 2rem;
}
.columnHalf {
    flex: 50%;
    max-width: 50%;
    padding: 0 2rem;
}
.columnThird {
    flex: 33%;
    max-width: 33%;
    padding: 0 2rem;
}
.columnFourth {
    flex: 25%;
    max-width: 25%;
    padding: 0 2rem;
} */

/* Detect when screen size is at a smaller width (for resized windows and mobile */
/* Change to 2 columns */
/* @media only screen and (max-width: 1220px) {
    .columnThird {
        flex: 50%;
        max-width: 50%;
    }
    .columnFourth {
        flex: 50%;
        max-width: 50%;
    }
} */
/* Change to 1 columns */
/* @media only screen and (max-width: 780px) {
    .columnThird {
        flex: 100%;
        max-width: 100%;
    }
    .columnHalf {
        flex: 100%;
        max-width: 100%;
    }
    .columnFourth {
        flex: 100%;
        max-width: 100%;
    }
} */

/*===============================LINK BUTTONS & GRID========================*/

.linkGrid {
    flex: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
.linkGrid.projectLinks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.linkButton {
    padding: 1rem;
    border: 0.2rem solid var(--accent1);
    border-radius: 1rem;

    background-color: var(--dark);

    color: var(--light);
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;

    transform: translate(0rem, 0.5rem);
    transition: all .2s ease-in-out;
}
.linkButton:hover {
    background-color: var(--accent1);
    color: var(--dark);
    transform: translate(0rem, -0.5rem);
}

/*===============================FILTER BUTTONS & GRID========================*/

.filterGrid {
    flex: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    padding-bottom: 4rem;
}
.filterButton {
    padding: 1rem;

    border: 0.2rem solid var(--accent1);
    border-radius: 1rem;

    background-color: var(--dark);

    color: var(--light);
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;
}
.filterButton:hover {
    color: var(--dark);
    background-color: var(--accent1);
}
.filterOn {
    color: var(--dark);
    background-color: var(--accent2);
    border-color: var(--light);
}

/*===============================PROJECT BOX & GRID========================*/

.projectGrid {
    flex: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 5rem 5rem;
}
/* @media only screen and (max-width: 600px) {
    .projectGrid {
       grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
}  */
.projectBox {
    height: 55rem;

    border: 0.2rem solid var(--light);
    border-radius: 1rem;
    background-color: var(--light);

    cursor: pointer;

    transform: translate(0rem, 0.5rem);
    transition: all .2s ease-in-out;
}
.projectBoxImage {
    border-radius: 1rem 1rem 0rem 0rem;
    min-width: 100%;
    height: 100%;
    overflow: clip;
    display: flex;
    justify-content: center;
}
.projectBoxImage img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projectBox h1{
    padding: 2rem;

    color: var(--dark);
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
    font-size: 2rem;
}
.projectBox p {
    padding-left: 2rem;
    padding-right: 2rem;

    color: var(--dark);
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
    font-size: 1.6rem;

    opacity: 0;
    transition: opacity .1s;
}
.projectBox:hover {
    cursor: pointer;
    border: 0.2rem solid var(--accent1);
    transform: translate(0rem, -0.5rem);
    box-shadow: rgba(18, 20, 22, 0.669) 0px 2px 7px 0px;

    grid-template-rows: 30% 15% 35% 20%;
    transition: all .2s ease-in-out;
}
.projectBox:hover p {
    opacity: 1;
    transition: opacity .3s .2s;
}
.filteredOn {
    display: grid;
    grid-template-rows: 65% 15% 0% 20%;
    transition: all .2s ease-in-out;
}

/*===============================FEATURED PROJECT BOX========================*/

.featuredProjectBox {
    height: 55rem;

    border: 0.2rem solid var(--light);
    border-radius: 1rem;
    background-color: var(--light);

    cursor: pointer;

    display: grid;
    grid-template-rows: 65% 15% 0% 20%;

    transform: translate(0rem, 0.5rem);
    transition: all .2s ease-in-out;
}
.featuredProjectBox h1{
    padding: 2rem;

    color: var(--dark);
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
    font-size: 2rem;
}
.featuredProjectBox p {
    padding-left: 2rem;
    padding-right: 2rem;

    color: var(--dark);
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
    font-size: 1.6rem;

    opacity: 0;
    transition: opacity .1s;
}
.featuredProjectBox:hover {
    cursor: pointer;
    border: 0.2rem solid var(--accent1);
    transform: translate(0rem, -0.5rem);
    box-shadow: rgba(18, 20, 22, 0.669) 0px 2px 7px 0px;

    grid-template-rows: 30% 15% 35% 20%;
    transition: all .2s ease-in-out;
}
.featuredProjectBox:hover p {
    opacity: 1;
    transition: opacity .3s .2s;
}

/*===============================SOFTWARE ICONS========================*/

.softwareIconGrid {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.softwareIcon {
    width: 6rem;
    height: 6rem;
}
.softwareIcon img {
    height: 75%;
    margin-left: auto;
    margin-right: auto;
}

/*===============================IFRAME VARIABLES========================*/

.videoDiv iframe {
    aspect-ratio: 16/9;
    max-height: 90vh;
    max-width: 100%;
    border: none;
}

.widget iframe {
    max-width: 100%;
}

/*===============================IMAGE GALLERY VARIABLES========================*/

/* Image Gallery container */
.imageGallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 2rem;
    width: 100%;
}
.imageSlide {
    grid-row: 1;
    grid-column: 2 / span 2;
    display: inline-block;
    text-align: center;

}
.imageSlide img {
    min-width: 100%;
    max-width: 100%;
    max-height: 90vh;
}
.thumbnailGrid {
    grid-row: 2;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.thumbnail {
    width: 100%;
    height: 100%;
    border: none;
    overflow: clip;
}
.thumbnail img {
    width: 100%;
    height: auto;
    display: block;
}
.thumbnail.current {
    border: 0.2rem solid var(--accent1);
}
.thumbnail.hover {
    cursor: pointer;
    border: 0.2rem solid var(--accent1);
}

/* Add a pointer when hovering over the thumbnail images */
.cursorPointer {
    cursor: pointer;
}


.prevArrow, .nextArrow {
    grid-row: 1;
    align-self: center;
    justify-self: center;
    color: var(--light);
    font-size: 4.8rem;
}
.prevArrow:hover, .nextArrow:hover {
    color: var(--accent1);
    cursor: pointer;
}
.prevArrow:active, .nextArrow:active {
    color: var(--accent2);
    cursor: pointer;
}


