/*========================GLOBAL STYLE VARIABLES========================*/

@import url('https://fonts.googleapis.com/css2?family=Mulish');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --dark: #222629;
    --mid: #474B4F;
    --light: #6B6E70;
    
    --bright-blue: #32e0da;
    --mid-blue: #1ea5a0;

    --bodyFontFamily: 'Mulish', sans-serif;
    --bodyFontWeight: 100;

    --headerFontFamily: 'Mulish', sans-serif; 
    --headerFontWeight: 500;

}

html {
    /* change default font size from 16px to 10px */
    font-size: 62.5%;
}

/*================================BODY================================*/

body {
    margin: unset;
    background-color: var(--dark);
}

/*============================NAV BAR VARIABLES========================*/

/* The nav bar */
.navBar {
    width: 100vw;
    position: fixed;
    z-index: 10;

    background-color: var(--dark);

    color: white;
    font-size: 1.8rem;
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
}

.navBar ul {
    margin: unset;
    padding: unset;
    display: flex;
    justify-content: flex-end;

    list-style: none; /*Gets rid of the bullet points */
}
.navBar li {
    padding: 2.8rem; /*1em is one line height */
}
/* The logo should float left, the rest of the links are on the right of nav bar */
.navBar li.logo {
    margin-right: auto;
}

.navBar a {
    color: inherit;
    text-decoration: none; /*Gets rid of the underline */
}
/* The nav bar links on hover */
.navBar a:hover {
    color: var(--mid-blue);
}
/* The active nav bar link (being pressed) */
.navBar a:active {
    color: var(--bright-blue);
}
/* The current link */
.navBar a.current {
    color: var(--mid-blue);
}
.navBar a.current:active {
    color: var(--bright-blue);
}

.navBar .navBarToggle {
    display: flex;
}
/* The hamburger button */
.navBar .navBarMenuButton {
    position: absolute;
    top: 1.8rem;
    right: 2.8rem;

    display: none;

    border: unset;
    background: unset;

    cursor: pointer;
}
.navBar .navBarMenuButton svg {
    stroke: white;
}
.navBar .navBarMenuButton .menuIconClose {
    display: none;
}

.hasShadow {
    box-shadow: rgba(18, 20, 22, 0.669) 0px 2px 7px 0px;
}

/* Detect when screen size is at a smaller width (for resized windows and mobile */
@media only screen and (max-width: 760px) {
    /* if screen is small, show button, hide links */
    .navBar .navBarMenuButton {
        display: block;
    }
    .navBar .navBarToggle {
        display: none;
    }

    /* if screen is small AND nav bar is opened, display vertical links */
    .navBar.open ul {
        display: block
    }
    .navBar.open .navBarToggle {
        display: block;
    }
    .navBar.open a {
        display: block;
    }
    /* hide the hamburger icon */
    .navBar.open .navBarMenuButton .menuIconOpen {
        display: none;
    }
    /* show the close icon */
    .navBar.open .navBarMenuButton .menuIconClose {
        display: block;
    }
}

/*============================FOOTER VARIABLES========================*/

/* The footer */
footer {
    overflow: hidden;
    height: 10vh;

    background-color: var(--dark);
}

/* The links inside the footer */
footer a {
    float: right;
    padding: 1.5em 1.5em;  /* top, right, bottom, left */

    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
}

/* The links inside the footer */
footer a:hover {
    color: var(--mid-blue);
}

/* The iconButton links on hover */
footer a:hover > div.iconButton {
    background-color: var(--mid-blue);
}

/* The active footer link (being pressed) */
footer a:active {
    color: var(--bright-blue);
}

/* The iconButton links active (being pressed) */
footer a:active  > div.iconButton {
    color: var(--bright-blue);
}

/* The circle div that surrounds the icon img */
.iconButton {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    background-color: white;
}

/* The icon img inside the iconButton divs */
.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.7rem;
    height: 72%;
}

/*=================================SCROLLBAR VARIABLES========================*/

::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-button {
    display: none;
}
  
::-webkit-scrollbar-track {
    background: var(--dark);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--mid);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--light);
}
::-webkit-scrollbar-thumb:active {
    background: var(--bright-blue);
}

/*============================TEXT FORMATTING VARIABLES========================*/

.textLink {
    color: var(--bright-blue);
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
    font-size: 1.8rem;
    text-decoration: none;
}
.textLink:hover {
    color: var(--mid-blue);
}
.textLink:active {
    color: var(--bright-blue);
}

/* Text for the banner */
.bannerText {
    color: white;
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
}
.bannerText h1 {
    font-size: 4.8rem;
}
.bannerText h2 {
    font-size: 2.8rem;
}
.bannerText p {
    font-size: 1.8rem;
}
.bannerText hr {
    border: 0.1rem solid var(--mid-blue);
}

/* Text in the small sections */
.sectionText {
    color: white;
    font-family: var(--bodyFontFamily);
    font-weight: var(--bodyFontWeight);
}
.sectionText h1 {
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
    font-size: 22px;

    padding: 0px 0px 25px 0px;
}
.sectionText h2 {
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
    font-size: 20px;

    padding: 0px 0px 8px 0px;
}
.sectionText p {
    font-size: 18px;

    padding: 0px 0px 40px 0px;
}
.sectionText.centered {
    text-align: center;
    margin: auto;
    padding: 50px 0px;
}

/*===========================LARGE SECTION VARIABLES======================*/

/* Padding on top for nav bar, set minimum height to be window height */
#minArea {
    padding-top: 7.4rem;
    min-height: 90vh;
    background-color: var(--dark);
}

/* The banner on the home page */
#banner {
    min-height: 35rem;
    padding: 5vh 5vw;  /* top, right, bottom, left */
    background-color: var(--dark);
}

.section {
    padding: 5vh 5vw;
    background-color: var(--mid);
}
.section.midGray {
    background-color: var(--mid);
}
.section.darkGray {
    background-color: var(--dark);
}
.section.black {
    background-color: black;
}

.videoBanner {
    text-align: center;
    background-color: black;

    min-height: 50vh;
    max-height: 90vh;
}

/*=========================RESPONSIVE SECTION VARIABLES=====================*/

.row {
    display: flex;
    flex-wrap: wrap;
}
.columnHalf {
    flex: 50%;
    max-width: 50%;
    padding: 0 2rem;
}
.columnThird {
    flex: 33%;
    max-width: 33%;
    padding: 0 2rem;
}

/* Detect when screen size is at a smaller width (for resized windows and mobile */
@media only screen and (max-width: 1220px) {
    /* Change to 2 columns */
    .columnThird {
        flex: 50%;
        max-width: 50%;
    }
}
@media only screen and (max-width: 780px) {
    /* Change to 1 column */
    .columnThird {
        flex: 100%;
        max-width: 100%;
    }
    .columnHalf {
        flex: 100%;
        max-width: 100%;
    }
}

/*===============================PROJECT BOX 1 VARIABLES========================*/

.projectBox {
    min-height: 30rem;
    padding: 2rem;
    margin-top: 4rem;

    border: 0.2rem solid var(--light);
    border-radius: 1rem;

    cursor: pointer;

    transition: all .2s ease-in-out;
    transform: scale(1.0);
}
.projectBox h1{
    color: white;
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);

    /* transition the font size from small to large on hover */
    font-size: 2rem;
    transition: font-size .2s;
}
.projectBox p {
    color: white;
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);
    font-size: 1.6rem;

    /* transition the opacity from none to full on hover */
    opacity: 0;
    transition: opacity .2s;
}
.projectBox.expanded {
    cursor: pointer;
    border: 0.2rem solid var(--mid-blue);
    transform: scale(1.1);

    /* Darken the background image on hover */
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
}
.projectBox.expanded h1 {
    font-size: 3.6rem;
}
.projectBox p.revealed {
    opacity: 1;
}

/*===============================LINK BOX VARIABLES========================*/

.linkBox {
    min-height: 14rem;
    padding: 1rem;
    margin-top: 2rem;

    border: 0.2rem solid var(--light);
    border-radius: 1rem;

    background-color: var(--light);
    text-align: center;

    cursor: pointer;

    transition: all .2s ease-in-out;
    transform: scale(1.0);
}

.linkBox h1{
    color: white;
    font-family: var(--headerFontFamily);
    font-weight: var(--headerFontWeight);

    /* transition the font size from small to large on hover */
    font-size: 2.4rem;
    padding: 0;
    transition: font-size .2s;
}
.linkBox.expanded {
    cursor: pointer;
    border: 0.2rem solid var(--mid-blue);
    transform: scale(1.1);

    /* Darken the background image on hover */
    background-color: var(--mid);
}
.linkBox.expanded h1 {
    color: white;
    font-size: 2.8rem;
}

/*===============================IFRAME VARIABLES========================*/

.videoDiv iframe {
    aspect-ratio: 16/9;
    min-width: 75%;
    max-height: 90vh;
    max-width: 100%;
    border: none;
}

.widget iframe {
    max-width: 100%;
}

/*===============================IMAGE GALLERY VARIABLES========================*/

/* Image Gallery container */
.imageGallery {
    padding: 0 10rem;
    height: auto;
    width: 100%;

    text-align: center;
}

.imageSlide {
    display: inline-block;
    max-width: 100%;
    text-align: center;
}
.imageSlide img {
    min-width: 100%;
    max-width: 100%;
    max-height: 80vh;
}

.thumbnailGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.thumbnail {
    width: 100%;
    max-height: 80%;
}
.thumbnail img {
    max-width: 100%;
    height: auto;
    display: block;
}
.thumbnail.current {
    border: 0.2rem solid var(--mid-blue);
}
.thumbnail.hover {
    cursor: pointer;
    border: 0.2rem solid var(--mid-blue);
}

/* Add a pointer when hovering over the thumbnail images */
.cursorPointer {
    cursor: pointer;
}


.prevArrow, .nextArrow {
    z-index: 2;

    color: white;
    font-size: 4.8rem;
}
.prevArrow {
    margin-right: auto;
}
.nextArrow {
    margin-left: auto;
}
.prevArrow:hover, .nextArrow:hover {
    color: var(--mid-blue);
    cursor: pointer;
}
.prevArrow:active, .nextArrow:active {
    color: var(--bright-blue);
    cursor: pointer;
}

/*===============================PROJECT BOX ID VARIABLES========================*/
#projectBox1 {
    background-image: url("../images/SubjectN06/sn06_10.png");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox2 {
    background-image: url("../images/scootez_1.png");
    background-repeat: no-repeat;
    background-position: right; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox3 {
    background-image: url("../images/SolarSystemsDown/ssd_image2.png");
    background-repeat: no-repeat;
    background-position: bottom; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox4 {
    background-image: url("../images/RecipeForRevenge/rfr_1.png");
    background-repeat: no-repeat;
    background-position: bottom; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox5 {
    background-image: url("../images/Minesweeper/ms_3.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox6 {
    background-image: url("../images/CampusCompanion_1.png");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox7 {
    background-image: url("../images/PlantFoodScreenshot.png");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox8 {
    background-image: url("../images/NormanFinalFilmScreenshot.png");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox9 {
    background-image: url("../images/QBert_1.png");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox10 {
    background-image: url("../images/DeathStarMotionGraphic_1.png");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox11 {
    background-image: url("../images/Artwork/TapeDispenser_1.png");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox12 {
    background-image: url("../images/Artwork/artwork_3.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox13 {
    background-image: url("../images/SocialPosts/bmp_2.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox14 {
    background-image: url("../images/Artwork/Enchanted_forest_art_4.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}
#projectBox15 {
    background-image: url("../images/NutritionNexus_1.png");
    background-repeat: no-repeat;
    background-position: top; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire box */
}


/*===============================HANDLE DIFFERENT SCREEN SIZES========================*/

